#top-bar {
    background-color: rgb(54, 110, 231);
    padding: 4em 0 4em 0;
}

#top-bar-content {
    color: white;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-container {
    margin: 20px 0 0 0;
}

#button-label {
    display: flex;
    justify-content: center;
}

#search-box {
    padding-bottom: 40px;
    border-bottom: 4px solid black;
}

.prevSearch {
    background-color: gray;
    border-radius: 10px;
    font-size: 18pt;
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.prevSearch:hover {
    background-color: rgb(175, 175, 175);
}

.prevSearch:active {
    background-color: rgb(175, 175, 175);
    outline: 2px solid black;
}

#todayCast {
    outline: 5px solid black;
}

.fiveDay {
    text-decoration: underline;
}

.forecastCard {
    background-color: rgb(44, 97, 196);
    margin: 0 2% 0 2%;
    padding: 1% 0 1% 0;
}

.forecastCard > p {
    color: cornsilk;
    display: flex;
    justify-content: center;
}